<%= link_to 'コメントを投稿する', new_koremita_movie_comment_path %>
<div class='comment_list'>
  <% @movie.movie_comments.each do |c| %>
    <div class='comment'>
      <%= c.comment %>
    </div>
  <% end %>
</div>
