language: ruby
bundler_args: --without development --path vendor/bundle
rvm:
  - 2.1.0
gemfile:
  - Gemfile
branches:
  only:
    - master
env:
  - DB=sqlite
script:
  - 
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - RAILS_ENV=test bundle exec rake db:test:prepare
  - RAILS_ENV=test bundle exec rake spec
  - bundle exec rubocop app
  - bundle exec rubocop lib
  - bundle exec rubocop spec
after_failure:
  - "bundle exec rake --version"
