language: ruby
bundler_args: --without production --path vendor/bundle
rvm:
  - 2.1.1
gemfile:
  - Gemfile
env:
  - RAILS_ENV=test
branches:
  only:
    - master
env:
  - DB=sqlite
script:
  - bundle exec rake db:schema:load
  - bundle exec rake db:test:prepare
  - bundle exec rake spec
  - bundle exec rubocop app
  - bundle exec rubocop lib
  - bundle exec rubocop spec
before_install: gem update bundler
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_failure:
  - "bundle exec rake --version"
